# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
drinks.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [3]:
# drinks['beer_servings'].max()
print('The continent that drink more bear is')
a = drinks.groupby(['beer_servings', 'continent']).sum().sort_values(by='beer_servings', ascending=False)
a.head(1)

The continent that drink more bear is

,,spirit_servings,wine_servings,total_litres_of_pure_alcohol
beer_servings,continent,,,
376,AF,3,1,6.8

### Step 5. For each continent print the statistics for wine consumption.

In [4]:
# drinks[['continent','wine_servings']].info
drinks.groupby(['wine_servings', 'continent'])

### Step 6. Print the mean alcohol consumption per continent for every column

In [5]:
# drinks.groupby(['continent','total_litres_of_pure_alcohol']).describe()
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcohol consumption per continent for every column

In [6]:
print('The median consumption of alcohol in each continent is')
drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()
# drinks['continent'].value_counts()

The median consumption of alcohol in each continent is

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [14]:
print('The min, mean and max for spirit consumption is ')
drinks.groupby('continent')['spirit_servings'].agg(['min', 'mean', 'max'])
# drinks.groupby['spirit_servings'].agg(['min', 'mean', 'max'])

The min, mean and max for spirit consumption is

TypeError: 'method' object is not subscriptable