# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [34]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', names=['user_id', 'age', 'gender', 'occupation', 'zip_code'])

users.head()

   user_id  age  gender  occupation  zip_code
0  user_id  age  gender  occupation  zip_code
1        1   24       M  technician     85711
2        2   53       F       other     94043
3        3   23       M      writer     32067
4        4   24       M  technician     43537

### Step 4. Discover what is the mean age per occupation

In [ ]:
print('mean age per occupation is')

# age1 = users.age.astype(float) 
users.astype({'age': 'float64'}).dtypes

# str.replace('$', '').astype(float)
# users.age.dtype

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
#  Discover the Male ratio per occupation and sort it from the most to the least

# users.groupby('occupation')['gender']
# users.sort_values(by="age", ascending=False)
users.groupby(["occupation", "age"]).mean()

### Step 6. For each occupation, calculate the minimum and maximum ages

In [50]:
print('The minimum age is')
users.groupby(['occupation', 'age']).min()

print('The maximum age is')
users.groupby(['occupation', 'age']).max()

The minimum age is
The maximum age is

                  user_id gender zip_code
occupation    age
administrator 21      118      M    90210
              22      317      M    60202
              23      509      M    20817
              25      726      M    96819
              26       86      M    61801
...                   ...    ...      ...
writer        50      772      M    27514
              51      548      M    95468
              52      392      M    59801
              56      558      F    63132
              60      464      M    94583

[430 rows x 3 columns]

### Step 7. For each combination of occupation and gender, calculate the mean age

In [51]:
users.groupby(['occupation', 'gender'])['age'].mean()
users.groupby

C:\Users\hp\AppData\Local\Temp\ipykernel_17800\1763700625.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  users.groupby(['occupation', 'gender']).mean()

Empty DataFrame
Columns: []
Index: [(administrator, F), (administrator, M), (artist, F), (artist, M), (doctor, M), (educator, F), (educator, M), (engineer, F), (engineer, M), (entertainment, F), (entertainment, M), (executive, F), (executive, M), (healthcare, F), (healthcare, M), (homemaker, F), (homemaker, M), (lawyer, F), (lawyer, M), (librarian, F), (librarian, M), (marketing, F), (marketing, M), (none, F), (none, M), (occupation, gender), (other, F), (other, M), (programmer, F), (programmer, M), (retired, F), (retired, M), (salesman, F), (salesman, M), (scientist, F), (scientist, M), (student, F), (student, M), (technician, F), (technician, M), (writer, F), (writer, M)]

### Step 8.  For each occupation present the percentage of women and men

In [54]:
print('The percentage of men and women is')
users.groupby(['occupation', 'gender'])

The percentage of men and women is