In [1]:
# import libraries
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [2]:
df ['gender']= df['gender'].replace("Male",1)
df ['gender']= df['gender'].replace("Female",0)
df.tail()
# How to use likess in categorical variable?

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [4]:
# selection of input and output variables
X= df[['weight', 'gender']]
y = df['likeness']

In [5]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [6]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [7]:
# machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit our model
model = DecisionTreeClassifier().fit(X,y)

# prediction
model.predict([[60,1]])
# in this we apply machine learning model to new data

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [10]:
# how to measure the accuracy of the model?
# split the data into training and test set
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0) # 20% of data is used for test set and 80% for training set

# if random_state is not specified, the default is None and score is not the same everytime
# create  our model
model = DecisionTreeClassifier()
# fit our model
model.fit(X_train,y_train)
# predict values
predicted_values = model.predict(X_test)
predicted_values

# checking the accuracy score of the model

score = accuracy_score(y_test,predicted_values)  # we compare the predicted values with the actual values
score
# more than 57% accuracy is good
# in this way we can check accuracy of the model and check decision tree classifier model. Same script is used for other algorithms like regression and multiple linear regression

0.6122448979591837

In [11]:
# How to train and save your model
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y) # To run/train our model we have to check on complete dataset.
joblib.dump(model, 'foddie.joblib') # To save the model we use joblib.dump() function and we have to specify the model to throw in dump() function.
# run model on saved data
model = joblib.load('foddie.joblib') # To run the model we use joblib.load() function and we have to specify the model to throw in load() function.

In [ ]:
# How to import and run or saved model on aour data? Assignment

# Decision tree classifier

In [13]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
#graphic evaluation / look into what happened
tree.export_graphviz(model,
                    out_file='tree.dot',
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)
# we use this decisin tree classifier for   Product sort out, email spam
# understand this graph

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2) # 80% training data and 20% test data

# create a model
model= DecisionTreeClassifier()

#fitting a model